<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>News Scrapper w/ Mongo + Mongoose </title>
		<!-- Styles -->
		<!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/assets/css/styles.css">
		<!-- Scripts -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<script src="/assets/js/newsScrapper.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>